{% extends 'base.html' %}

{% block title %} Location {% endblock title %}

{% block body %} <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13754.808801085135!2d77.1122705!3d30.472872!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fa7a7d2c7a77f%3A0xde07b2e9200882eb!2sSWARAJ%20TRACTOR%20(SALUJA%20TRADERS)!5e0!3m2!1sen!2sin!4v1676378865387!5m2!1sen!2sin" width="1500" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>{% endblock %}